//- ========================================
//- Social Navigation
//- ========================================

ul
  li
    a(
      href="",
      target="_blank"
    )
      span
        +symbol("facebook")
      em.visible-for-screen-readers Facebook
  li
    a(
      href="",
      target="_blank"
    )
      span
        +symbol("twitter")
      em.visible-for-screen-readers Twitter
  li
    a(
      href="",
      target="_blank"
    )
      span
        +symbol("instagram")
      em.visible-for-screen-readers Instagram
  li
    a(
      href="",
      target="_blank"
    )
      span
        +symbol("youtube")
      em.visible-for-screen-readers Youtube
