//- ========================================
//- Form Inclusion
//- ========================================

mixin input(placeholder, symbol)
  .input-field
    input(
      type="text"
      placeholder="#{placeholder}"
    )
    .input-hint
      span.input-symbol.absolutely-centered
        +symbol("symbol")

mixin search(placeholder)
  .input-field
    input(
      type="text"
      placeholder="#{placeholder}"
    )
    .input-hint
      input.hidden-submit.cover(
        type="submit"
        value="Submit"
      )
      span.input-symbol.absolutely-centered
        +symbol("search")
      
mixin select(...options)
  .input-field
    select
      each option in options
        option(value="#{option}") #{option}
    .input-hint
      span.input-symbol.absolutely-centered
        +symbol("chevron-down")
    
mixin radio(id, value)
  input(
    type="radio" 
    name="#{id}" 
    id="#{id}" 
    value="#{value}"
  )
  label(for="#{id}") #{value}
  
mixin checkbox(id, value)
  input(
    type="checkbox" 
    name="#{id}" 
    id="#{id}" 
    value="#{value}"
  )
  label(for="#{id}") #{value}
