extends ../templates/basic.jade

block content
  .sprite(style="display: none;")
    include ../../svg/sprite.symbol.svg
  include ../regions/header.jade
  .compartment
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      .sprite(style="display: none;")
        include ../../svg/sprite.symbol.svg
      include ../regions/header.jade
    textarea(style="height: 75px; overflow-y: auto;").
      <header class="site__header">
        <div class="compartment"><a href="" class="site__logo">Silk</a>
          <button aria-hidden="true" class="drawer__trigger"></button>
          <nav class="silk-nav nav-main drawer">
            <div class="silk-nav__controls"><a href="/" class="silk-nav__trigger silk-nav__trigger--home">
                  <svg class="symbol symbol-home">
                    <use xlink:href="#home"></use>
                  </svg><span>Home</span></a>
              <button class="silk-nav__trigger silk-nav__trigger--revert">
                  <svg class="symbol symbol-undo">
                    <use xlink:href="#undo"></use>
                  </svg><span>Main Menu</span>
              </button>
              <button class="silk-nav__trigger silk-nav__trigger--reverse">
                  <svg class="symbol symbol-chevron-left">
                    <use xlink:href="#chevron-left"></use>
                  </svg>
              </button>
            </div>
            <ul>
              <li><a href="/">Anime</a>
                <ul>
                  <li><a href="/">Tokyo Ghoul</a>
                    <ul>
                      <li><a href="/">Season One</a></li>
                      <li><a href="/">Season Two</a></li>
                    </ul>
                  </li>
                  <li><a href="/">Aldnoah Zero</a></li>
                </ul>
              </li>
              <li><a href="/">About</a></li>
              <li><a href="/">Academics</a></li>
              <li><a href="/">Admissions</a></li>
              <li><a href="/">Athletics</a></li>
            </ul>
          </nav>
        </div>
      </header>
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section.hero
      h2 Silk Hero
      img(src="http://i.imgur.com/amMWTop.jpg")
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section.hero
        h2 Silk Hero
        img(src="http://i.imgur.com/amMWTop.jpg")
    textarea(style="height: 75px; overflow-y: auto;").
      <section class="hero">
        <h2>Silk Hero</h2><img src="http://i.imgur.com/amMWTop.jpg">
      </section>
    h4 Other info:
    p Info text here
  .compartment
    section.hero.hero--empty
      img(src="http://i.imgur.com/9FnCMYs.jpg")
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section.hero.hero--empty
        img(src="http://i.imgur.com/9FnCMYs.jpg")
    textarea(style="height: 75px; overflow-y: auto;").
      <section id="empty-hero-section" class="hero hero--empty">
        <img src="http://i.imgur.com/9FnCMYs.jpg">
      </section>
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section
      h2 Silk Harmonica
      include ../blocks/silk-harmonica.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Silk Harmonica
        include ../blocks/silk-harmonica.jade
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Silk Harmonica</h2>
        <div class="silk-harmonica silk-harmonica--condensed">
          <header role="tab" class="silk-harmonica__header"> 
            <h4>1 Header One</h4>
          </header>
          <article role="tabpanel" class="silk-harmonica__content">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</article>
          <header role="tab" class="silk-harmonica__header"> 
            <h4>2 Header Two</h4>
          </header>
          <article role="tabpanel" class="silk-harmonica__content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</article>
        </div>
      </section>
    h4 Other info:
    p Info text here
  .compartment
    section
      h2 Silk Harmonica Expanded
      include ../blocks/silk-harmonica-expanded.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Silk Harmonica Expanded
        include ../blocks/silk-harmonica-expanded.jade
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Silk Harmonica Expanded</h2>
        <div class="silk-harmonica silk-harmonica--expanded">
          <header role="tab" class="silk-harmonica__header"> 
            <h4>1 Header One</h4>
          </header>
          <article role="tabpanel" class="silk-harmonica__content">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</article>
          <header role="tab" class="silk-harmonica__header"> 
            <h4>2 Header Two</h4>
          </header>
          <article role="tabpanel" class="silk-harmonica__content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</article>
        </div>
      </section>
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section
      h2 Silk Table
      include ../blocks/silk-table.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Silk Table
        include ../blocks/silk-table.jade
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Silk Table</h2>
        <div class="silk-table">
          <table>
            <thead>
              <tr>
                <th>Heading</th>
                <th>Heading</th>
                <th>Heading</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
              </tr>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
              </tr>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
              </tr>
              <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    h4 Other info:
    p Info text here
  .compartment
    section
      h2 Silk Collage
      ol.silk-collage
        li
        li
        li
        li
        li
        li
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Silk Collage
        ol.silk-collage
          li
          li
          li
          li
          li
          li
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Silk Collage</h2>
        <ol class="silk-collage">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </section>
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section
      h2 Swift Slide
      ol.swift-slide
        li
        li
        li
        li
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Swift Slide
        ol.swift-slide
          li
          li
          li
          li
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Swift Slide</h2>
        <ol class="swift-slide">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </section>
    h4 Other info:
    p Info text here
  .compartment
    section
      h2 Instagram Feed
      ol#instagram-feed.instagram-feed.list-reset
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Instagram Feed
        ol#instagram-feed.instagram-feed.list-reset
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Instagram Feed</h2>
        <ol id="instagram-feed" class="instagram-feed list-reset"></ol>
      </section>
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section
      h2 Twitter Feed
      ol#twitter-feed.twitter-feed.list-reset
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Twitter Feed
        ol#twitter-feed.twitter-feed.list-reset
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Twitter Feed</h2>
        <ol id="twitter-feed" class="twitter-feed list-reset"></ol>
      </section>
    h4 Other info:
    p Info text here
  .compartment
    section
      h2 Forms
      form.grid.grid--20
        .col-large-6.col-aldnoah-4
          +input("Enter Search Keywords", "submit")
        .col-large-6.col-aldnoah-4
          +select("Select From Options", "Who", "What", "Why", "Where", "When")
        .col-aldnoah-4
          input(
            placeholder="Name (required)"
            name="name"
            type="text"
            required
          )
        .col-flush
          textarea(
            placeholder="Tell us more (optional):"
            name="comments"
            rows="8"
          )
        .col-flush
          fieldset
            +radio("radio-input", "Radio Input")
            +radio("checkbox-input", "Checkbox Input")
        .col-flush
          input.button(
            type="submit"
            value="Submit"
          )
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Forms
        form.grid.grid--20
          .col-large-6.col-aldnoah-4
            +input("Enter Search Keywords", "submit")
          .col-large-6.col-aldnoah-4
            +select("Select From Options", "Who", "What", "Why", "Where", "When")
          .col-aldnoah-4
            input(
              placeholder="Name (required)"
              name="name"
              type="text"
              required
            )
          .col-flush
            textarea(
              placeholder="Tell us more (optional):"
              name="comments"
              rows="8"
            )
          .col-flush
            fieldset
              +radio("radio-input", "Radio Input")
              +radio("checkbox-input", "Checkbox Input")
          .col-flush
            input.button(
              type="submit"
              value="Submit"
            )
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Forms</h2>
        <form class="grid grid--20">
          <div class="col-large-6 col-aldnoah-4">
              <div class="input-field">
                <input type="text" placeholder="Enter Search Keywords">
                <div class="input-hint input-hint--submit">
                  <input type="submit" class="input-hint__field">
                </div>
              </div>
          </div>
          <div class="col-large-6 col-aldnoah-4">
              <div class="input-field">
                <select>
                  <option value="Select From Options">Select From Options</option>
                  <option value="Who">Who</option>
                  <option value="What">What</option>
                  <option value="Why">Why</option>
                  <option value="Where">Where</option>
                  <option value="When">When</option>
                </select><span class="input-hint input-hint--select"></span>
              </div>
          </div>
          <div class="col-aldnoah-4">
            <input placeholder="Name (required)" name="name" type="text" required>
          </div>
          <div class="col-flush">
            &lt;textarea placeholder="Tell us more ():" name="comments" rows="8"&gt;&lt;/textarea&gt;
          </div>
          <div class="col-flush">
            <fieldset>
                <input type="radio" name="radio-input" id="radio-input" value="Radio Input">
                <label for="radio-input">Radio Input</label>
                <input type="radio" name="checkbox-input" id="checkbox-input" value="Checkbox Input">
                <label for="checkbox-input">Checkbox Input</label>
            </fieldset>
          </div>
          <div class="col-flush">
            <input type="submit" value="Submit" class="button">
          </div>
        </form>
      </section>
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section
      h2 Filters
      include ../blocks/pagination.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Filters
        include ../blocks/pagination.jade
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Filters</h2>
        <div class="pagination">
          <button class="pagination__control">
              <svg class="symbol symbol-chevron-left">
                <use xlink:href="#chevron-left"></use>
              </svg>
          </button>
          <ul class="pagination__key">
            <li><a href="">1</a></li>
            <li><a href="" class="active">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">...</a></li>
          </ul>
          <button class="pagination__control">
              <svg class="symbol symbol-chevron-right">
                <use xlink:href="#chevron-right"></use>
              </svg>
          </button>
        </div>
      </section>
    h4 Other info:
    p Info text here
  .compartment
    section
      h2 Buttons
      button.button HTML Button Filled 
      a.button(href="") Link Button Filled
      button.button.button--hollow HTML Button Hollow 
      a.button.button--hollow(href="") Link Button Hollow
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Buttons
        button.button HTML Button Filled 
        a.button(href="") Link Button Filled
        button.button.button--hollow HTML Button Hollow 
        a.button.button--hollow(href="") Link Button Hollow
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Buttons</h2>
        <button class="button">HTML Button Filled </button><a href="" class="button">Link Button Filled</a>
        <button class="button button--hollow">HTML Button Hollow </button><a href="" class="button button--hollow">Link Button Hollow</a>
      </section>
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section
      h2 Modal
      include ../blocks/silk-modal.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section
        h2 Modal
        include ../blocks/silk-modal.jade
    textarea(style="height: 75px; overflow-y: auto;").
      <section>
        <h2>Modal</h2>
        <div class="silk-modal">
          <div class="silk-modal__trigger">
              <svg class="symbol symbol-play">
                <use xlink:href="#play"></use>
              </svg>
          </div><img src="http://i.imgur.com/f5M3iyy.jpg" class="full-width">
          <div class="silk-modal__details">
            <div class="silk-modal__trigger--close">
                <svg class="symbol symbol-close">
                  <use xlink:href="#close"></use>
                </svg><span>Close</span>
            </div>
            <div class="silk-modal__bottle"><iframe width="1280" height="720" src="https://www.youtube.com/embed/m03Y0PdDUvA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
            <h2>History - Queen</h2>
            <p>The boy group 'HISTORY' will captivate the women's heart this spring with the 5th mini album [HIM] which you can feel the wild charm of guys. The new album [HIM], as its name tells, appeals the charm of tough guys by highlighting the wild and sexy characters of members not only for visual but also for musical traits.</p>
          </div>
        </div>
      </section>
    h4 Other info:
    p Info text here
  include ../regions/footer.jade
  .compartment
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      include ../regions/footer.jade
    textarea(style="height: 75px; overflow-y: auto;").
      <footer class="site__footer">
        <div class="compartment">
          <div id="hcard" class="vcard">
            <div class="org">Organization</div>
            <div class="adr">
              <div class="street-address">92 West Pegasus St.</div>
              <div class="location"><span class="locality">Washington</span> <span class="region">MA</span> <span class="postal-code">493123</span></div>
            </div><a href="mailto:organization@gmail.com" class="email">organization@gmail.com</a><a href="tel:443-283-3847" class="tel">443-283-3847</a>
          </div>
        </div>
      </footer>
    h4 Other info:
    p Info text here
