extends ../templates/basic.jade

block content
  .sprite(style="display: none;")
    include ../../svg/sprite.symbol.svg
  include ../regions/header.jade
  .compartment
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      .sprite(style="display: none;")
        include ../../svg/sprite.symbol.svg
      include ../regions/header.jade
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section.hero#hero-section
      h2 Silk Hero
      img(src="http://i.imgur.com/amMWTop.jpg")
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section.hero#hero-section
        h2 Silk Hero
        img(src="http://i.imgur.com/amMWTop.jpg")
    h4 Other info:
    p Info text here
  .compartment
    section.hero.hero--empty#empty-hero-section
      img(src="http://i.imgur.com/9FnCMYs.jpg")
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section.hero.hero--empty#empty-hero-section
        img(src="http://i.imgur.com/9FnCMYs.jpg")
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section#harmonica-section
      h2 Silk Harmonica
      include ../blocks/silk-harmonica.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#harmonica-section
        h2 Silk Harmonica
        include ../blocks/silk-harmonica.jade
    h4 Other info:
    p Info text here
  .compartment
    section#harmonica-expanded-section
      h2 Silk Harmonica Expanded
      include ../blocks/silk-harmonica-expanded.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#harmonica-expanded-section
        h2 Silk Harmonica Expanded
        include ../blocks/silk-harmonica-expanded.jade
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section#table-section
      h2 Silk Table
      include ../blocks/silk-table.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#table-section
        h2 Silk Table
        include ../blocks/silk-table.jade
    h4 Other info:
    p Info text here
  .compartment
    section#collage-section
      h2 Silk Collage
      ol.silk-collage
        li
        li
        li
        li
        li
        li
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#collage-section
        h2 Silk Collage
        ol.silk-collage
          li
          li
          li
          li
          li
          li
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section#swift-slide-section
      h2 Swift Slide
      ol.swift-slide
        li
        li
        li
        li
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#swift-slide-section
        h2 Swift Slide
        ol.swift-slide
          li
          li
          li
          li
    h4 Other info:
    p Info text here
  .compartment
    section#instagram-section
      h2 Instagram Feed
      ol#instagram-feed.instagram-feed.list-reset
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#instagram-section
        h2 Instagram Feed
        ol#instagram-feed.instagram-feed.list-reset
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section#twitter-section
      h2 Twitter Feed
      ol#twitter-feed.twitter-feed.list-reset
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#twitter-section
        h2 Twitter Feed
        ol#twitter-feed.twitter-feed.list-reset
    h4 Other info:
    p Info text here
  .compartment
    section#forms-section
      h2 Forms
      form.grid.grid--20
        .col-large-6.col-aldnoah-4
          +input("Enter Search Keywords", "submit")
        .col-large-6.col-aldnoah-4
          +select("Select From Options", "Who", "What", "Why", "Where", "When")
        .col-aldnoah-4
          input(
            placeholder="Name (required)"
            name="name"
            type="text"
            required
          )
        .col-flush
          textarea(
            placeholder="Tell us more (optional):"
            name="comments"
            rows="8"
          )
        .col-flush
          fieldset
            +radio("radio-input", "Radio Input")
            +radio("checkbox-input", "Checkbox Input")
        .col-flush
          input.button(
            type="submit"
            value="Submit"
          )
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#forms-section
        h2 Forms
        form.grid.grid--20
          .col-large-6.col-aldnoah-4
            +input("Enter Search Keywords", "submit")
          .col-large-6.col-aldnoah-4
            +select("Select From Options", "Who", "What", "Why", "Where", "When")
          .col-aldnoah-4
            input(
              placeholder="Name (required)"
              name="name"
              type="text"
              required
            )
          .col-flush
            textarea(
              placeholder="Tell us more (optional):"
              name="comments"
              rows="8"
            )
          .col-flush
            fieldset
              +radio("radio-input", "Radio Input")
              +radio("checkbox-input", "Checkbox Input")
          .col-flush
            input.button(
              type="submit"
              value="Submit"
            )
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section#filter-section
      h2 Filters
      include ../blocks/pagination.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#filter-section
        h2 Filters
        include ../blocks/pagination.jade
    h4 Other info:
    p Info text here
  .compartment
    section#buttons-section
      h2 Buttons
      button.button HTML Button Filled 
      a.button(href="") Link Button Filled
      button.button.button--hollow HTML Button Hollow 
      a.button.button--hollow(href="") Link Button Hollow
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#buttons-section
        h2 Buttons
        button.button HTML Button Filled 
        a.button(href="") Link Button Filled
        button.button.button--hollow HTML Button Hollow 
        a.button.button--hollow(href="") Link Button Hollow
    h4 Other info:
    p Info text here
  .compartment(style="background-color: #C7C7C7")
    section#modal-section
      h2 Modal
      include ../blocks/silk-modal.jade
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      section#modal-section
        h2 Modal
        include ../blocks/silk-modal.jade
    h4 Other info:
    p Info text here
  include ../regions/footer.jade
  .compartment
    h4 Code:
    textarea(style="height: 75px; overflow-y: auto;").
      include ../regions/footer.jade
    h4 Other info:
    p Info text here
